body {background-color:#E3FDFD ;        
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h1 {color: red;}
#dallar {color: blueviolet ; font-size: 25px; }