body {background-color:#E3FDFD ;        
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center}

#baslık {color: red;}
#futbol  {color: #002aff;;}
#voleybol {color: #002aff;;}
#basketbol {color: #002aff;;}
#tenis {color: #002aff;}